@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

@mixin gridGallery($gutter-size, $elements) {

	gap: $gutter-size;
	grid-template-columns: repeat($elements, 1fr);

}

.ProjectsGallery {
	width: 100%;
	display: grid;
	grid-auto-flow: dense;

	@include gridGallery($mobile-gutter, 1);

	@include devices(tablet) {
		@include gridGallery($tablet-gutter, 2);
	}

	@include devices(desktop) {
		@include gridGallery($desktop-gutter, 3);
	}

}


// .ProjectsGallery{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     padding-top: $mobile-gutter;
//     padding-bottom: $mobile-gutter;

//     @include devices(tablet) {
//         gap: $tablet-gutter;
//         padding-top: $tablet-gutter;
//         padding-bottom: $tablet-gutter;
// 	}

// }
