@import "../../app.scss";
@import "../../app-mixins.scss";

.ProjectsGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: $mobile-gutter;
    padding-bottom: $mobile-gutter;

    @include devices(tabletP) {
        gap: $tablet-gutter;
        padding-top: $tablet-gutter;
        padding-bottom: $tablet-gutter;
	}



}