@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;



.ProjectSummary {

    &--active{
        display: none;
    }

	&__imgContainer {
		width: 100%;
        aspect-ratio: 21/15;
	}

    &__img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    &__title{
        @include font-subtitle();
        margin-top: $mobile-gutter ;
        margin-bottom: calc($mobile-gutter/2) ;
    }

    &__description{
        margin-top: calc($mobile-gutter/2) ;
        margin-bottom: 0px ;
        text-align: justify;
    }

	@include devices(tablet) {
        &--active{
            display: block;
        }
	}
}

// .ProjectSummary {
// 	width: 80vw;
//     margin-bottom: 2*$mobile-gutter;

// 	&__imgContainer {
// 		width: 100%;
//         aspect-ratio: 21/15;
// 	}

//     &__img{
//         max-width: 100%;
//         max-height: 100%;
//         display: block;
//         margin: 0 auto;
//     }

//     &__title{
//         @include font-subtitle();
//         margin-top: $mobile-gutter ;
//         margin-bottom: calc($mobile-gutter/2) ;
//     }

//     &__description{
//         margin-top: calc($mobile-gutter/2) ;
//         margin-bottom: 0px ;
//         text-align: justify;
//     }

// 	@include devices(tablet) {
// 		width: 40vw;
//         margin-bottom: 0px;
// 	}
// }


