@use "./variables" as *;

@mixin devices($breakpoint) {
	//the name of the mixin is devices

	@if $breakpoint == tablet {
		@media only screen and (min-width: 600px) {
			@content;
		}
	}

	@if $breakpoint == tabletLandscape {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}

	@if $breakpoint == desktop {
		@media only screen and (min-width: 992px) {
			@content;
		}
	}
}

@mixin font-title() {
	font-weight: $boldWeight;
	font-size: $mobile-font-size-title;

	@include devices(tablet) {
		font-size: $tablet-font-size-title;
	}
	@include devices(desktop) {
		font-size: $desktop-font-size-title;
	}
}

@mixin font-subtitle() {
	font-weight: $lighterWeight;
	font-size: $mobile-font-size-subtitle;

	@include devices(tablet) {
		font-size: $tablet-font-size-subtitle;
	}
	@include devices(desktop) {
		font-size: $desktop-font-size-subtitle;
	}
}

@mixin font-standard() {
	font-weight: $lighterWeight;
	font-size: $mobile-font-size-body;

	@include devices(tablet) {
		font-size: $tablet-font-size-body;
	}
	@include devices(desktop) {
		font-size: $desktop-font-size-body;
	}
}


