@use "./variables" as *;
@use "./mixins" as *;

.container {
	max-width: 75rem;
	margin: auto;
	padding: 0 $mobile-gutter;

	@include devices(tablet) {
		padding: 0 $tablet-gutter;
	}

	@include devices(desktop) {
		padding: 0 $desktop-gutter;
	}
}

.section-dark {
	background-color: $color-bg-section-dark;
	color: $color-foreground;
}

section {
	padding-top: $mobile-gutter;
	padding-bottom: $mobile-gutter;
}

.section-title {
	@include font-title();
	padding-bottom: calc($mobile-gutter/2);

	@include devices(tablet) {
		padding-bottom: calc($tablet-gutter/2);
	}
	@include devices(desktop) {
		padding-bottom: calc($desktop-gutter/2);
	}
}

.section-subheading{
    @include font-subtitle();
	padding-bottom: calc($mobile-gutter/2);

	@include devices(tablet) {
		padding-bottom: calc($tablet-gutter/4);
	}
	@include devices(desktop) {
		padding-bottom: calc($desktop-gutter/4);
	}
}

.section-paragraph{
    @include font-standard();
	padding-bottom: calc($mobile-gutter/4);

	@include devices(tablet) {
		padding-bottom: calc($tablet-gutter/8);
	}
	@include devices(desktop) {
		padding-bottom: calc($desktop-gutter/8);
	}
}