@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.SkillDetails {
	display: flex;
	flex-direction: column;
	gap: $mobile-gutter;

	max-width: 500px;

	@include devices(tablet) {
		gap: $tablet-gutter;
	}

	@include devices(desktop) {
		gap: $desktop-gutter;
	}

	&__icon {
		width: 4rem;
		@include devices(tablet) {
			width: 6rem;
		}
		@include devices(desktop) {
			width: 8rem;
		}
	}

	&__content__icon__container {
		float: right;
		padding: 0 0.5rem;
		@include devices(tablet) {
			padding: 0 1rem;
		}
		@include devices(desktop) {
			padding: 0 1.5rem;
		}
	}
}
