@import "../../app.scss";
@import "../../styles/mixins";
@import "../../styles/variables";

.AboutIntro {
	padding-top: 3rem;
	@include devices(tablet) {
		padding-top: 4rem;
	}
	@include devices(desktop) {
		padding-top: 6rem;
	}

	&__Gardening__image {
		height: 1rem;
		margin-left: 0.5rem;
	}

	@include devices(tablet) {
		&__Gardening__image {
			height: 1.5rem;
		}
	}
	@include devices(desktop) {
		&__Gardening__image {
			height: 2rem;
		}
	}
}
