@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.TravelInfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: $mobile-gutter 0;
	padding: $mobile-gutter 0;
	align-items: center;
    justify-content: center;

	&__Stat {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: $mobile-card-padding;
		background-color: $color-bg-section-dark;

		&__Title{
			text-align: center;
		}
	}

	&__Bucket__Expand{
		position: absolute;
		top:$mobile-card-padding;
		right:$mobile-card-padding;
		width: 1.2rem;
		margin: 0.1rem;
	}

	@include devices(tablet) {
		flex-direction: row;
		gap: $desktop-gutter;
		justify-content: space-around;
		padding: $desktop-gutter 0;

		&__Stat {
			padding: $tablet-card-padding;
		}

		&__Bucket__Expand{
			top:$tablet-card-padding;
			right:$tablet-card-padding;
		}


	}
}
