@import "../../app.scss";
@import "../../styles/mixins";
@import "../../styles/variables";

.Projects {
	&__Filter {
		padding-top: 5rem;
		@include devices(tablet) {
			padding-top: 6rem;
		}
		@include devices(desktop) {
			padding-top: 8rem;
		}
	}
}
