@import "../../app.scss";
@import "../../styles/mixins";
@import "../../styles/variables";


.AboutMap {
    position: relative;
    // height: 50vh;
		padding-top: 3rem;
		@include devices(tablet) {
			padding-top: 4rem;
		}
		@include devices(desktop) {
			padding-top: 6rem;
		}
        &__LeafletContainer{
            position: relative;
            height: 50vh;
            width: 100%;
            // &__MapContainer{
            //     height: "4rem";
            //     position: "absolute";
            //     width: "100%";
            //     top: "0px";
            //     left: "0px";
            // }
        }
}