@import "../../app.scss";
@import "../../styles/mixins";
@import "../../styles/variables";

.AboutMap {
	position: relative;

	&__LeafletContainer {
		position: relative;
		height: 25vh;
		width: 100%;

		@include devices(tablet) {
			height: 40vh;
		}
		@include devices(desktop) {
			height: 50vh;
		}

		&__MapContainer {
			background-color: $color-bg-section-dark;
		}
	}

}
