@import "../../app.scss";
@import "../../styles/mixins";
@import "../../styles/variables";

.AboutMap {
	position: relative;

	&__Up-house {
		position: relative;
		height: 2rem;
		margin-left: 0.5rem;
	}

	&__LeafletContainer {
		position: relative;
		height: 25vh;
		width: 100%;

		&__MapContainer {
			background-color: $color-bg-section-dark;
		}
	}

	@include devices(tablet) {
		&__LeafletContainer {
			height: 40vh;
		}
		&__Up-house {
			height: 3rem;
		}
	}
	@include devices(desktop) {
		&__LeafletContainer {
			height: 50vh;
		}
		&__Up-house {
			height: 4rem;
		}
	}
}
